<style>
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  /*a {
    width: 500px;
  }*/
  /*.headertext {
    font-size: 1000% !important;
  }*/
  /*.boxed {
    width: 100%;
  }*/

  .wrapper{
    margin-top: 27%
  }
  #leftaux {

  }
  #rightaux {

  }

}
@media only screen  and (min-width : 1524px) {
  .headertext {
    font-size: 80px;
  }
  .wrapper {
  }
}

/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {
/* Styles */
}


</style>
<div class="container-fluid">
  <div class="wrapper">
    	<div style="display: flex; justify-content: center; margin-left: 50%; margin-right: auto; margin-top: 5%">
    		<a class="topLevel text" href="/createRoom" id="createRoom" ><span class="text-center raise boxed headertext text">Create</span></a>
    		<img id="leftaux" src="/static/images/leftaux.svg" class="img-responsive animated slideInRight" style="position: sticky; margin-top: 10%;">
    	</div>
    		<br><br>
    	<h2 class="text middle">OR</h2>
    		<br><br>
    		<div style="display: flex; justify-content: center; margin-right: 50%; margin-left: auto;">
    			<img id="rightaux" style="position: sticky; width: 100%;" class="img-responsive text animated slideInLeft" src="/static/images/rightaux.svg" alt="">
    			<a class="standard-text" href="/getRooms" id="joinRoom"><span class="text-center raise boxed text headertext"><span class="text" style="opacity: 0">1</span>Join<span class="text" style="opacity: 0">1</span></span></a>
    		</div>
  </div>
</div>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="background-color: #1E1D1D">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header"  style="background-color: #1E1D1D">
        <h5 class="modal-title text headertext" id="exampleModalLongTitle">Welcome to Auxen</h5>
      </div>
      <div class="modal-body" style="background-color: #1E1D1D">

        <h2 class="text small" id="setup">We need to sure your Spotify is set up properly</h2>
       <h2 class="text smaller">
         <br>
         <br>
         1. Open your Spotify! This is very important
         <br>
         <br>
         2. Play a song. Whatever song you want.
         <br>
         <br>
         3. Press Test
         <br>
         <br>
         4. If your music changed, you're good to go! If not make sure you're logged into the right Spotify account and then try again!
       </h2>
       <br>
       <br>
       <div id="instructions" class="row">
        <h1 id="songTest" type="button" style="width: 20%; margin-left: 2%; margin-right: 2%; " class="text small boxed raise col-xs-2">Test!</h1>
      </div>
      </div>
    </div>
  </div>
</div>



<style>
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {


}
</style>

<script>

    var spotifyId = '{{spotifyId}}';
    var imageURL = '{{{imageURL}}}';
    var username = '{{username}}';
    var accessToken = '{{{accessToken}}}';
    var refreshToken = '{{{refreshToken}}}';
    localStorage.setItem("spotifyId", spotifyId);
    localStorage.setItem("imageURL", imageURL);
    localStorage.setItem("username", username);
    localStorage.setItem('closing', "false");
    localStorage.setItem('accessToken', accessToken);
    localStorage.setItem('refreshToken', refreshToken);
    localStorage.setItem('closing', "false");

    function toggleRepeat(){
      $.ajax({
        url: 'https://api.spotify.com/v1/me/player/repeat?state=off',
        method: 'put',
        headers: {
            'Authorization': 'Bearer ' + localStorage.getItem("accessToken")
        },
        success: function(data){
          //console.log("successfully switched off repeat");
        }
      })
    }

    function toggleShuffle(){
      $.ajax({
        url: 'https://api.spotify.com/v1/me/player/shuffle?state=false',
        method: 'put',
        headers: {
            'Authorization': 'Bearer ' + localStorage.getItem("accessToken")
        },
        success: function(data){
        //  console.log("successfully switched off shuffle");
        }
      })
    }

    function getPlayback(){
      //console.log("entered getPlayback");
      $.ajax({
        url: 'https://api.spotify.com/v1/me/player',
        method: 'get',
        headers: {
            'Authorization': 'Bearer ' + localStorage.getItem("accessToken")
        },
        success: function(data){
          //  console.log(data);
          if(data.repeat_state !== 'off')toggleRepeat();
          if(data.shuffle_state)toggleShuffle();
        }
      })
    }

    $(document).ready(function(){
      getPlayback();
      if(!localStorage.getItem('spotifyId')) {
        $('#exampleModalLong').modal('show');
      }
      else {
        var flag = false;
        $.ajax({
          url: 'https://api.spotify.com/v1/me/player/devices',
          method: 'get',
          headers: {
              'Authorization': 'Bearer ' + '{{{accessToken}}}'
          },
          success: function(data){
            if(data.devices){
              for (var i = 0; i < data.devices.length; i++) {
                if(data.devices[i].is_active){
                  flag = true;
                  break;
                }
              }
            }
            if(!flag){
              $('#setup').addClass('red').text('Your Spotify doesn\'t seem to be open!')
              $('#exampleModalLong').modal('show');
            }
          }
        })
      }
      $(document).on('click','#songTest' ,function() {

        $.ajax({
          url: 'https://api.spotify.com/v1/me/player/play',
          method: 'PUT',
          headers: {
            'Authorization': 'Bearer ' + accessToken,
            'Content-Type': "application/json"
          },
          data: JSON.stringify({
            "uris": ['spotify:track:3a1lNhkSLSkpJE4MSHpDu9']
          }),
          dataType: "JSON",
          success: function(data){
            //console.log("its working for you");
          }
        })

        //console.log('this is the new wave', $('#dimiss'));
        if($('#dismiss').length === 0) {
          $('#instructions').append(`<h1 type="button" id="dismiss" style="width: 20%; margin-left: 2%; margin-right: 2%;" class="text small boxed raise col-xs-2 animated fadeIn" data-dismiss="modal">Dismiss</h1>`)
        }

      })
    })

</script>
