<div>
  <div class="row">
    <div class="col-xs-2">
      <h1 data-id="{{room.roomName}}" style="margin-left: 5%; margin-right: 5%;"class="closeRoom text-center text small boxed raise" id="closeRoom"><a href='/closeRoom/{{room.roomName}}/?roomId={{room._id}}'>Close</a></h1>
    </div>
    <div class="col-sm-offset-1 col-sm-6">
      <h1 class="text-center standard-text medium animated slideInDown">{{room.roomName}}</h1>
      <div id="djphoto" class='center'>
        <img src='{{room.imageURL}}' class="img-responsive animated wobble" style="border-radius: 50%; width: 20%; height: 20%;" >
      </div>
      <h2 class="text-center standard-text small">You are the DJ</h2>
      <div class="center">
        <h1 style="font-size: 10px; margin-top: 1%; cursor: pointer;" class="text-center grow text small" data-toggle="modal" data-target="#passDJ">Pass DJ</h1>
      </div>
    </div>
  </div>
  <div id="sendgrace-container">
    <h1 id="sendgrace" class="center floating pointer" >
      🙏
    </h1>
  </div>
  <div class="center">
    <h1 style=""class="text-center text small boxed raise" data-toggle="modal" data-target="#exampleModalLong">Show Love</h1>
  </div>


  <!-- <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 style="color: black;"class="modal-title text-center standard-text" id="exampleModalLongTitle">Played Songs 🎉</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body lastSongs">

        </div>
        <div class="modal-footer">
          <h1 style="color: black; width: 20%; margin-right: auto; margin-left: auto;"class="text-center text small boxed raise" data-dismiss="modal">Close</h1>
        </div>
      </div>
    </div>
  </div> -->

    <div class="activeUsersforDJ ">
      <div id="users" class="grid">

      </div>
    </div>

  <div class="center" id="flames"></div>

  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="background-color: #1E1D1D">
    <div class="modal-dialog" role="document"  style="background-color: #1E1D1D">
      <div>
        <div class="modal-header" style="background-color: #1E1D1D">
          <h2 class="modal-title text-center standard-text" id="exampleModalLongTitle">Show your listeners some love</h2>
        </div>
        <input  maxlength="35" id="djtalkval" style="border: none; font-size: 20px;" placeholder="What's the wave..." class="ghost-input"></input>
        <div class="modal-footer"  style="background-color: #1E1D1D">
          <h1 id="djtalk" class="text-center text small boxed raise" style="width: 20%; " data-dismiss="modal">Submit</h1>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="passDJ" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true" style="background-color: #1E1D1D">
    <div class="modal-dialog" role="document"  style="background-color: #1E1D1D">
      <div>
          <h2 class="modal-title text-center standard-text" id="exampleModalLongTitle">Pass the batton.</h2>
          <input autocomplete="off" id="myInput" style="font-size: 20px;"  placeholder="Search for users here..." class="text-center ghost-input" id="myInput" onkeyup="searchFunction()" autocomplete="off"></input>
        <div id="potentialDJS"></div>
      </div>
    </div>
  </div>



</div>

<script src="/static/dj.js"></script>
<script>
function searchFunction() {
  // Declare variables
  var input, filter, div, h1, i;
  input = document.getElementById('myInput');
  filter = input.value.toUpperCase();
  div = document.getElementById("potentialDJS");
  h1 = div.getElementsByClassName('searchUsers');
  // Loop through all h1st items, and hide those who don't match the search query
  for (i = 0; i < h1.length; i++) {
    console.log(h1.length);
    if (h1[i].innerHTML.toUpperCase().indexOf(filter) > -1) {
      h1[i].style.display = "";
    } else {
      h1[i].style.display = "none";
    }
  }
};

</script>
