<div>

  <div class="row">
    <div class="col-sm-2">
      <h1 data-id="{{room.roomName}}" style="margin-left: 5%; margin-right: 5%;"class="closeRoom text-center text small boxed raise" id="closeRoom"><a href='/closeRoom/{{room.roomName}}/?roomId={{room._id}}'>Close</a></h1>
    </div>
    <div class="col-sm-offset-1 col-sm-6">
      <h1 class="text-center standard-text medium animated slideInDown">{{room.roomName}}</h1>
      <div id="djphoto" class='center'>
        <img src='{{room.imageURL}}' class="img-responsive animated wobble" style="border-radius: 50%; width: 20%; height: 20%;" >
      </div>
      <h2 class="text-center standard-text small">You are the host</h2>
    </div>
  </div>

  <div class="center">
    <h1 style=""class="text-center text small boxed raise" data-toggle="modal" data-target="#exampleModalLong">Played Songs</h1>
  </div>

  <!-- <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h2 style="color: black;"class="modal-title text-center standard-text" id="exampleModalLongTitle">Played Songs 🎉</h2>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body lastSongs">

        </div>
        <div class="modal-footer">
          <h1 style="color: black; width: 20%; margin-right: auto; margin-left: auto;"class="text-center text small boxed raise" data-dismiss="modal">Close</h1>
        </div>
      </div>
    </div>
  </div> -->

  <div class="row">
    <div class="activeUsersforDJ col-sm-offset-2 center"></div>
    <div class="col-sm-offset-3"></div>
  </div>

</div>

<script>
    var djRefreshToken = '{{room.djRefreshToken}}';
    var roomId = '{{room._id}}';
    var roomName = '{{room.roomName}}';
    var socket = io();
    var clearId = -1;

    /* Checking connnection to socket */
    socket.on('connect', function(){
      console.log('Connected!');
      socket.emit('spotifySetup', localStorage.getItem("spotifyId"));
    })

    /* Setting refresh token in localStorage and calling setInterval every 30 mins to refresh */
    socket.on('setRefreshToken', function(refreshToken){
      localStorage.setItem('refreshToken', refreshToken);
      clearId = setInterval(function () {
        socket.emit("toRefresh", localStorage.getItem("refreshToken"));
      }, 30*60000);
    });

    /* Setting access token in localStorage */
    socket.on('setAccessToken', function(accessToken){
      localStorage.setItem('accessToken', accessToken);
      var djObject = {
        roomName: roomName,
        spotifyId: localStorage.getItem('spotifyId'),
        imageURL: localStorage.getItem('imageURL'),
        refreshToken: localStorage.getItem('refreshToken'),
        accessToken: localStorage.getItem('accessToken'),
        username: localStorage.getItem('username')
      }
      socket.emit('createRoom', djObject);
    })

    /* sets new access token after refresh */
    socket.on('setNewAccessToken', function(accessToken){
      localStorage.setItem('accessToken', accessToken);
      socket.emit('changeRoomToken', {roomName: roomName, newToken: accessToken});
    })

    /* clearInterval for refresh token once disconnected. */
    // socket.on('disconnect', function() {
    //   console.log("this should happen on refresh");
    //   if (clearId !== -1) {
    //     clearInterval(clearId);
    //     clearId = -1;
    //     socket.emit('closingRoom', {"roomName": roomName, "roomId": roomId});
    //     socket.emit('autoClose', {"roomName": roomName, "roomId": roomId});
    //     window.location = '/';
    //   }
    // })

    $(window).bind('beforeunload', function(){
      return "Are you shure you want to leave? This will take you to home page";
      // console.log("is this happening");
      // window.location.href = '/';
      // clearInterval(clearId);
      // clearId = -1;
      // socket.emit('closingRoom', {"roomName": roomName, "roomId": roomId});
      // socket.emit('autoClose', {"roomName": roomName, "roomId": roomId});
    });

    /* some other user has left room */
    socket.on('userLeaving', function(userSpotifyId){
        console.log(userSpotifyId);
        $('#' + userSpotifyId).remove();
    });


    /* dj closes room emits event to server which then kicks people out of the room */
    $('#closeRoom').on('click', function(event){
      console.log("reached front end destination");
      socket.emit('closingRoom', {"roomName": roomName, "roomId": roomId});
    })

    /* new user has joined */
    socket.on('userJoined', function(userData){
        var data = `<div id="${userData.spotifyId}" class="center" style ="width: 20%">
                      <div data-id="{{userData.spotifyId}}">
                        <img class="grow raise" style="border-radius: 50%; width: 45%; height: auto; margin-top: 5%;" src=${userData.imageURL} alt="">
                      </div>
                    </div>`
        $('.activeUsersforDJ').append(data);
    });



</script>
